body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.loader {
  background: url(../images/loader.gif) no-repeat;
  width: 32px;
  height: 32px;
  margin: 0 auto;
}

table.items-list td {
  vertical-align: middle;
}


input[type=text], input[type=password] {
          box-shadow: 0 0 3px 0 #b9b9b9 inset;
     -moz-box-shadow: 0 0 3px 0 #b9b9b9 inset;
  -webkit-box-shadow: 0 0 3px 0 #b9b9b9 inset;
}
