
<div class="page-header">
	<h1>
		New Item <small>Enter details</small>
	</h1>
</div>
<div class="row">
  <div class="span3">
  </div>
  <div class="span9">
    <form class="form-horizontal" id="new-item" method="post">
      <div class="control-group">
        <label class="control-label" for="nameInput">Name</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="itemName"  placeholder="Item name" value="{{name}}">
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="priceInput">Price</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="itemPrice"  placeholder="Item price" value="{{price}}">
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="reset" class="btn cancel">Cancel</button>
      </div>
    </form>
  </div>
</div>	
